.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 1200px;
    margin: 0 auto;
}

.header {
  grid-area: h;

  background-color: rgb(183, 15, 224);
}

.nav {
  grid-area: n;

  background-color: rgb(83, 163, 17);
}

.content {
  grid-area: c;

  background-color: rgb(35, 26, 172);
}

